body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#cellar_viewport {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 0px;
    left: 5px;
    background-color: #050505;
}

#container {
    position: relative;
    width: 100%;
}

.sprite {
    display: none;
}

.hidden {
    display: none;
}

#edit_palette {
    width: 32px;
    height: 160px;
    position: absolute;
    top: 20px;
    right: 5px;
}

.editing {
    cursor: crosshair;
}

#map_content {
    position: absolute;

    top: 1080px;

    font-family: monospace;
    font-size: 8px;
}